html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.input-box {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  position: relative;
  width: 50%;
  left: 25%;
  margin-top: 30%;
  padding: 30px 10px 30px 10px;
  background-color: rgb(38, 38, 38);
}
input {
  line-height: normal;
}

body {
  background-color: hsla(228, 100%, 1%, 0.897);
  font-size: 14px;
  line-height: 1.6;
  font-family: sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.work-request--information .information-name {
  position: relative;
  width: 50%;
  left: 25%;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
}
.work-request--information input[type="text"] {
  width: 100%;
  padding: 0 0 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: white;
}
.work-request--information input[type="text"]:focus {
  outline: none;
  background-color: transparent;
}
.work-request--information label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.work-request--information input:focus + label,
.work-request--information input.has-value + label {
  top: -15px;
  font-size: 14px;
}
