<!DOCTYPE html>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>홈화면</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
  </head>

  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"
  ></script>

  <script>
    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      var strVal = $(this).val()

      event = event || window.event
      var keyID = event.which ? event.which : event.keyCode

      if (
        (keyID >= 48 && keyID <= 57) ||
        (keyID >= 96 && keyID <= 105) ||
        keyID == 46 ||
        keyID == 8 ||
        keyID == 109 ||
        keyID == 189 ||
        keyID == 9 ||
        keyID == 37 ||
        keyID == 39
      ) {
        if (strVal.length > 1 && (keyID == 109 || keyID == 189)) {
          return false
        } else {
          return
        }
      } else {
        return false
      }
    })

    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
    })
    $(document).on("focusout", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace(",", ""))
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
      if ($(this).val() != "") {
        $(this).val($(this).val() + "원")
      }
    })

    $(document).on("focus", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace("원", ""))
    })
  </script>

  <script>
    const region = {
      서울특별시: [
        "동작구",
        "도봉구",
        "용산구",
        "금천구",
        "서대문구",
        "영등포구",
        "구로구",
        "은평구",
        "강서구",
        "강남구",
        "강동구",
        "성북구",
        "서초구",
        "광진구",
        "성동구",
        "강북구",
        "노원구",
        "중랑구",
        "동대문구",
        "마포구",
        "중구",
        "송파구",
        "종로구",
        "관악구",
        "양천구",
      ],
      경기도: [
        "포천시",
        "용인시 처인구",
        "수원시 영통구",
        "성남시 수정구",
        "가평군",
        "성남시 중원구",
        "광명시",
        "용인시 기흥구",
        "고양시 일산서구",
        "하남시",
        "부천시 남구",
        "과천시",
        "오산시",
        "안성시",
        "수원시 팔달구",
        "수원시 장안구",
        "부천시",
        "고양시 일산동구",
        "의왕시",
        "김포시",
        "고양시",
        "양주시",
        "시흥시",
        "이천시",
        "수원시 권선구",
        "안산시 상록구",
        "구리시",
        "동두천시",
        "광주시",
        "부천시 소사구",
        "양평군",
        "부천시 오정구",
        "파주시",
        "부천시 원미구",
        "안산시 단원구",
        "안양시 만안구",
        "연천군",
        "용인시 수지구",
        "남양주시",
        "군포시",
        "의정부시",
        "안양시 동안구",
        "성남시 분당구",
        "화성시",
        "여주시",
        "고양시 덕양구",
        "평택시",
      ],
      부산광역시: [
        "사상구",
        "금정구",
        "해운대구",
        "서구",
        "연제구",
        "동구",
        "북구",
        "수영구",
        "사하구",
        "기장군",
        "강서구",
        "부산진구",
        "남구",
        "동래구",
        "영도구",
        "중구",
      ],
      전라북도: [
        "남원시",
        "정읍시",
        "김제시",
        "익산시",
        "임실군",
        "완주군",
        "무주군",
        "전주시 덕진구",
        "고창군",
        "장수군",
        "부안군",
        "진안군",
        "군산시",
        "전주시",
        "전주시 완산구",
        "순창군",
      ],
      강원도: [
        "춘천시",
        "원주시",
        "태백시",
        "횡성군",
        "속초시",
        "동해시",
        "영월군",
        "양양군",
        "철원군",
        "삼척시",
        "양구군",
        "강릉시",
        "인제군",
        "정선군",
        "평창군",
        "화천군",
        "홍천군",
        "고성군",
      ],
      경상남도: [
        "통영시",
        "의령군",
        "창녕군",
        "산청군",
        "함양군",
        "창원시 의창구",
        "창원시 청원구",
        "사천시",
        "거창군",
        "양산시",
        "창원시 진해구",
        "밀양시",
        "하동군",
        "창원시 성산구",
        "창원시 마산회원구",
        "남해군",
        "진주시",
        "합천군",
        "함안군",
        "창원시 마산합포구",
        "김해시",
        "창원시",
        "거제시",
        "고성군",
      ],
      경상북도: [
        "상주시",
        "포항시 북구",
        "김천시",
        "경산시",
        "봉화군",
        "영주시",
        "울릉군",
        "고령군",
        "예천군",
        "영천시",
        "청도군",
        "칠곡군",
        "영덕군",
        "안동시",
        "경주시",
        "구미시",
        "군위군",
        "의성군",
        "영양군",
        "울진군",
        "문경시",
        "성주군",
        "청송군",
        "포항시 남구",
        "포항시",
      ],
      광주광역시: ["서구", "동구", "북구", "남구", "광산구"],
      인천광역시: [
        "서구",
        "계양구",
        "동구",
        "연수구",
        "부평구",
        "남구",
        "미추홀구",
        "남동구",
        "옹진군",
        "중구",
        "강화군",
      ],
      울산광역시: ["울주군", "동구", "북구", "남구", "중구"],
      전라남도: [
        "장흥군",
        "목포시",
        "곡성군",
        "강진군",
        "보성군",
        "고흥군",
        "해남군",
        "순천시",
        "영광군",
        "완도군",
        "진도군",
        "장성군",
        "신안군",
        "화순군",
        "여수시",
        "영암군",
        "나주시",
        "구례군",
        "광양시",
        "함평군",
        "무안군",
        "담양군",
      ],
      제주특별자치도: ["제주시", "서귀포시"],
      충청북도: [
        "제천시",
        "청주시 청원구",
        "청주시 서원구",
        "보은군",
        "옥천군",
        "괴산군",
        "진천군",
        "청원군",
        "청주시 흥덕구",
        "청주시",
        "청주시 상당구",
        "영동군",
        "단양군",
        "증평군",
        "음성군",
        "충주시",
      ],
      대전광역시: ["서구", "유성구", "동구", "대덕구", "중구"],
      대구광역시: [
        "서구",
        "동구",
        "북구",
        "수성구",
        "달서구",
        "남구",
        "달성군",
        "중구",
      ],
      세종특별자치시: ["세종시"],
      충청남도: [
        "연기군",
        "계룡시",
        "서천군",
        "부여군",
        "천안시 서북구",
        "태안군",
        "예산군",
        "보령시",
        "공주시",
        "서산시",
        "아산시",
        "논산시",
        "금산군",
        "천안시 동남구",
        "당진시",
        "홍성군",
        "청양군",
        "천안시",
      ],
    }
  </script>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1>ECTI</h1>
        ##################################
      </header>

      <!-- Main -->
      <div id="main">
        <!-- Introduction -->
        <section id="intro" class="main">
          <div class="spotlight">
            <div class="content">
              <!-- 임시 입력 및 제출 form -->
              <form action="/newInput" method="post">
                <div>
                  <h3>날짜</h3>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    style="width: 35%"
                    name="Year"
                  >
                    <option selected>년도를 선택하세요</option>
                    <option value="2014">2014년</option>
                    <option value="2015">2015년</option>
                    <option value="2016">2016년</option>
                    <option value="2017">2017년</option>
                    <option value="2018">2018년</option>
                    <option value="2019">2019년</option>
                    <option value="2020">2020년</option>
                    <option value="2021">2021년</option>
                    <option value="2022">2022년</option>
                  </select>

                  <select
                    class="form-select"
                    aria-label="Default select example"
                    style="width: 35%"
                    name="Month"
                  >
                    <option selected>월을 선택하세요</option>
                    <option value="1">1월</option>
                    <option value="2">2월</option>
                    <option value="3">3월</option>
                    <option value="4">4월</option>
                    <option value="5">5월</option>
                    <option value="6">6월</option>
                    <option value="7">7월</option>
                    <option value="8">8월</option>
                    <option value="9">9월</option>
                    <option value="10">10월</option>
                    <option value="11">11월</option>
                    <option value="12">12월</option>
                  </select>
                  <br />
                </div>
                <br />
                <br />
                <div>
                  <h3>지역</h3>

                  <select
                    class="form-select"
                    aria-label="Default select example"
                    style="width: 35%"
                    onchange="ListChange(this.value)"
                    name="See"
                  >
                    <option selected value="-1">도시를 선택하세요</option>
                    <script>
                      const keys = Object.keys(region).sort()
                      keys.forEach((e) => {
                        document.write(
                          "<option value=" + e + ">" + e + "</option>"
                        )
                      })
                    </script>
                  </select>
                  <script>
                    function ListChange(e) {
                      let target = document.getElementById("Goo")
                      let goolist = region[e].sort()
                      target.options.length = 0

                      for (x in goolist) {
                        let opt = document.createElement("option")
                        opt.value = goolist[x]
                        opt.innerHTML = goolist[x]
                        target.appendChild(opt)
                      }
                    }
                  </script>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    style="width: 35%"
                    id="Goo"
                    name="Goo"
                  >
                    <option selected value="-1">구를 선택하세요</option>
                  </select>
                </div>
                <br />
                <br />

                <br />

                <div class="information-name">
                  <input
                    name="Fee"
                    type="text"
                    spellcheck="false"
                    numberOnlyMinComma="true"
                    koreanCurrency="true"
                    placeholder="전기요금을 입력하세요"
                    style="text-align: center"
                  />
                </div>

                <br />
                <br />
                <div style="text-align: center">
                  <br />
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg"
                    style="
                      width: 200px;
                      height: 50px;
                      background-color: aliceblue;
                      font-size: large;
                    "
                    id="sub"
                    onclick="loadSpinner()"
                  >
                    제출
                  </button>
                </div>
              </form>
              <script>
                function loadSpinner() {
                  let ta = document.getElementById("sub")
                  ta.innerHTML =
                    "<div class='spinner-border text-primary' role='status'> <span class='visually-hidden'>Loading...</span></div>"
                }
              </script>

              <!-- 인풋 라벨 관련 스크립트 -->
              <script>
                $(".work-request--information input").focusout(function () {
                  var textVal = $(this).val()

                  if (textVal === "") {
                    $(this).removeClass("has-value")
                  } else {
                    $(this).addClass("has-value")
                  }

                  // correct mobile device window position
                  window.scrollTo(0, 0)
                })
              </script>
            </div>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <section>
          <h2>Contact Us</h2>

          <ul class="icons">
            <li>
              <a href="#" class="icon brands fa-twitter alt"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-facebook-f alt"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-instagram alt"
                ><span class="label">Instagram</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-github alt"
                ><span class="label">GitHub</span></a
              >
            </li>
            <li>
              <a href="#" class="icon brands fa-dribbble alt"
                ><span class="label">Dribbble</span></a
              >
            </li>
          </ul>
        </section>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
