<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
  </head>

  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"
  ></script>

  <!-- 요금 형식 지정 스크립트 -->

  <script>
    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      var strVal = $(this).val()

      event = event || window.event
      var keyID = event.which ? event.which : event.keyCode

      if (
        (keyID >= 48 && keyID <= 57) ||
        (keyID >= 96 && keyID <= 105) ||
        keyID == 46 ||
        keyID == 8 ||
        keyID == 109 ||
        keyID == 189 ||
        keyID == 9 ||
        keyID == 37 ||
        keyID == 39
      ) {
        if (strVal.length > 1 && (keyID == 109 || keyID == 189)) {
          return false
        } else {
          return
        }
      } else {
        return false
      }
    })

    $(document).on("keyup", "input:text[numberOnlyMinComma]", function () {
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
    })
    $(document).on("focusout", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace(",", ""))
      $(this).val(
        $(this)
          .val()
          .replace(/[^-\.0-9]/gi, "")
      )
      $(this).val(
        $(this)
          .val()
          .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
      )
      if ($(this).val() != "") {
        $(this).val($(this).val() + "원")
      }
    })

    $(document).on("focus", "input:text[koreanCurrency]", function () {
      $(this).val($(this).val().replace("원", ""))
    })
  </script>

  <body>
    <!-- 임시 입력 및 제출 form -->
    <div class="input-box">
      <form action="/newInput" method="post">
        <div class="work-request--information">
          <div class="information-name">
            <input name="name" type="text" spellcheck="false" />
            <label for="name">닉네임</label>
          </div>
          <br />
          <div class="information-name">
            <input name="region" type="text" spellcheck="false" />
            <label>거주 지역</label>
          </div>
          <br />
          <div class="information-name">
            <input
              name="fee"
              type="text"
              spellcheck="false"
              numberOnlyMinComma="true"
              koreanCurrency="true"
            />
            <label>해당 월 전기 요금</label>
          </div>
        </div>
      </form>
    </div>
    <div style="text-align: center">
      <br />
      <button type="submit" class="btn btn-primary btn-lg">제출</button>
    </div>
    <!-- 인풋 라벨 관련 스크립트 -->
    <script>
      $(".work-request--information input").focusout(function () {
        var textVal = $(this).val()

        if (textVal === "") {
          $(this).removeClass("has-value")
        } else {
          $(this).addClass("has-value")
        }

        // correct mobile device window position
        window.scrollTo(0, 0)
      })
    </script>
  </body>
</html>
