<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action="/newInput" method="post">
      <div>
        <input
          type="text"
          style="width: 150px"
          name="item1"
          placeholder="input1"
        />
        <input
          type="text"
          style="width: 150px"
          name="item2"
          placeholder="input2"
        />
        <input
          type="text"
          style="width: 150px"
          name="item3"
          placeholder="input3"
        />
        <input
          type="text"
          style="width: 150px"
          name="item4"
          placeholder="input4"
        />
      </div>
      <input type="submit" value="제출" />
    </form>

    <button onclick="location.href='/button'">버튼CSS</button>
    <button onclick="location.href='/result'">결과CSS</button>
    <!-- <script src="/scripts/main.js"></script> -->
  </body>
</html>
